.going-back {
  text-align: center;
}

.call-in {
  padding: 1px;
}

.food-list {
  list-style: none;
  padding-right: 3rem;
}

#home-page {
  background-color: rgb(226, 219, 211);
}

#menu {
  background-color: rgb(226, 219, 211);
}
#beer-page {
  background-color: rgb(226, 219, 211);
}
#hunting-and-fishing {
  background-color: rgb(226, 219, 211);
}
